@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-family: "SUSE", system-ui;
    font-size: 16px;
    min-width: 400px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #e7e1e1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

/*HEADER PART*/

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #212a31;
    border-bottom: 4px #d3d9d4 solid;
}


/*hide the checkbox*/
#menu-toggle {
    display: none; 
}

#dropdown {
    display: none; 
}

#logo-wrapper {
    width: 150px;
    height: 150px;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-wrapper img {
    max-width: 80%;
    max-height: 80%;
}

#nav-list {
    list-style-type: none;
    display: flex;
    margin-right: 3rem;
    max-width: 40%;
    max-height: 30%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#nav-list li {
    margin: 10px;
}

#nav-list li a {
    font-family: "SUSE", system-ui;
    font-size: 1.4rem;
    text-decoration: none;
    color: #d3d9d4;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
}

#nav-list li a h3{
    border-radius: 10px;
    padding: 8px;
}

#nav-list li a h3:hover{

    background-color: rgb(75, 74, 74);
    transition-duration: 0.3s;
}


/*ABOUT SECTION*/

.about-me {
    background-color: #124e66;
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-me-wrapper {
    max-width: 85%;
    max-height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#summary {
    max-width: 40%;
    max-height: 466.172px;
    min-width: 25rem;
    color: #d3d9d4;
    font-size: 2.6rem;
}

#about-image-wrapper {
    max-width: 40%;
    max-height: 100%;
    min-width: 451.891px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #d3d9d4 solid;
}

#about-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width:1330px){
    #nav-list {
        max-width: 50%;
    }
    #summary {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 1020px){
    .about-me-wrapper{
        width: 90%;
        margin: 3rem 0;
    }
    #summary{
        display: block;
        width: 90%;
        max-width: 100%;
        height: auto;
        max-height: 12rem;
        text-align: center;
        margin-bottom: 3.5rem;
        font-size: 1.5rem;
    } 

    #about-image-wrapper {
        display: block;
        height: auto;
    }

    .about-me {
        height: auto;
    }

    #nav-list li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px){
    
    #dropdown {
        padding: 2rem;
        margin-right: 1rem;
        display: block; 
        font-size: 24px; 
        cursor: pointer;
        margin-left: auto;
        color: #d3d9d4;
    }

    #nav-list {
        display: none;
        flex-direction: column; 
        position: absolute; 
        top: 1.5rem;
        right: 0;
        width: 100%;
        z-index: 1000;
        height: 100px;
    }

    #nav-list li {
        margin: 0; 
        background-color: #333; 
        width: 10rem;
    }

    #nav-list a {
        padding: 10px;
        color: white;
        display: block; 
        text-align: center;
    }

    header {
        height: 200px;
    }  
}


/*PROJECTS */

.projects {
    display: flex;
    width: 100%;
    height: 40rem;
    background-color: #a5babe;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.projects h2 {
    font-size: 2.8rem;
    text-align: center;
    display: block;
    width: 100%;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
}

.card {
    border: 5px solid #212a31;
    width: 500px;
    min-width: 500px; 
    height: 300px;
    border-radius: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #d3d9d4;
    flex-wrap: wrap;
}

.scrolling-wrapper a {
    margin: 0 0.3rem 1rem 1rem;
    text-decoration: none;
}

.card img {
    display: block;
    width: 20%;
    height: auto;
    align-self: center;
    margin-top: 2rem;
}

.card h3 {
    display: block;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 27rem;
    background-color: #000000;
    color: #d3d9d4 ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

footer h2 {
    font-size: 3rem;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}

.footer-image-wrapper {
    width: 60px;
    height: auto;
}

.links a {
    margin: 1rem;
}

#info {
    width: 20%;
    line-height: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 900px){

    footer {
        height: 35rem;
    }

    .contact-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links, #info {
        width: 60%;
        margin-bottom: 2rem;
    }


}